.movieCard {
  padding: theme("spacing.4");
  border-radius: theme("borderRadius.lg");
  background-color: theme("colors.white");
  /* ... */
  @media (min-width: theme("screens.sm")) {
    border-radius: theme("borderRadius.lg");
  }
  border-radius: 0;
}

@screen sm {
  .card {
    border-radius: theme("borderRadius.lg");
  }
}
