:root {
  --rich-black: #031926ff;
  --teal: #468189ff;
  --cambridge-blue: #77aca2ff;
  --ash-gray: #9dbebbff;
  --parchment: #f4e9cdff;
  --floral-white: #fbf8ee;
}

#root {
  /* background-color: var(--rich-black); */
  /* color: var(--floral-white); */
  max-width: 1280px;
  margin: 0;
}
